<div [hidden] = "showDisplaySelected">
  <mat-card>
    <h4>Summary of your selected items</h4>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of FormArray">
          <td> {{ item.disclosureNumber}} </td>
          <td> {{ item.title }} </td>
          <td><button mat-icon-button (click)="removeItem(item)">
                <mat-icon>delete</mat-icon>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class = "clearfix">
      <button class = "floatRight"
          (click) = "saveItems()"
          [disabled] = "FormArray.length == 0"
          mat-raised-button color="primary">Save</button>
      <button class = "floatRight" (click) = "backToList()" mat-raised-button>Back</button>
    </div>
    <mat-progress-bar *ngIf="showSuccessMsg" mode="indeterminate"></mat-progress-bar>
    
  </mat-card>
</div>  
  
