<h2 mat-dialog-title>{{modalTitle}}</h2>
<form class="organization-form" (ngSubmit)="doSubmitOrganization()" #organizationForm="ngForm">
  
  <mat-dialog-content>
    <mat-form-field class="full-width">
      <input required matInput
        placeholder="Organization"
        name="organization"
        [(ngModel)]="organization.orgName"
      >
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary">
      Submit
    </button>

    <button mat-button mat-dialog-close>No</button>
  </mat-dialog-actions>
</form>

 
