<div class="crud-container">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef>Username </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        {{element.username}}   
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullname">
      <mat-header-cell *matHeaderCellDef>Full Name </mat-header-cell>
      <mat-cell *matCellDef="let element">  
        {{element.firstName}} {{element.lastName}}

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="organization">
      <mat-header-cell *matHeaderCellDef>Organization </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
          {{element.organization_docs[0].organization}}

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
          <span class="uk-badge uk-badge-success">ACTIVE</span>  
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <button mat-icon-button (click)="navigateSuperUserFunctions(element._id, 0)" matTooltip="Select Materiality">
          <i class="material-icons">&#xE877;</i>
        </button>

        <button mat-icon-button (click)="navigateSuperUserFunctions(element._id, 1)" matTooltip="View Disclosures">
          <i class="material-icons">&#xE896;</i>
        </button>

        <button mat-icon-button matTooltip="Change Password">
          <i class="material-icons">&#xE898;</i>
        </button>
        
        <button mat-icon-button matTooltip="Change Status">
            <i class="material-icons">&#xE14B;</i>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator
    #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>

<div class="div-add-button" 
  matTooltip="Add Super User" 
  [matTooltipPosition]="position">
  <button (click)="openAddUpdateDialog(1)" mat-fab color="primary">
      <i class="material-icons">add</i>
  </button>
</div>
  