.login-signup-container {
    height: 100%;
    width:100%;
    // padding: 100px;
   
    background-image: linear-gradient(to bottom, #03A9F4, #acbdc5 40%, white 40%);
    background-attachment:fixed;
    background-repeat: no-repeat;

    .login-signup--form-container {
        margin: 0 auto;
        width: 500px;
        min-width: 400px;
        text-align: center;
        top: 10%;
        
        .user-icon {
            font-size: 100px; 
            margin-right: 70px;
        }

        .login-signup--form {
            .full-width {
                width: 100%;
            }
        }
    }
}