<div class="login-signup-container ">
  <mat-card class="login-signup--form-container">
    <mat-icon class="user-icon">account_circle</mat-icon>
    <h3>GRI LOGIN</h3>

    <form class="login-signup--form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <mat-form-field class="full-width">
        <input 
          required 
          matInput 
          placeholder="Username" 
          [(ngModel)]="user.username"
          name="username"
        >
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <input 
          required 
          matInput 
          placeholder="Password" 
          type="password" 
          [(ngModel)]="user.password"
          name="password"  
        >
      </mat-form-field>
   
    <mat-progress-bar *ngIf="showProgressbar" mode="indeterminate"></mat-progress-bar>  
        
    <button mat-raised-button class="full-width" type="submit" color="primary"  [disabled]="!loginForm.form.valid">Login</button>
    
  </form>  
    
  </mat-card>

</div>
