
<div class="super-user--container">
  <table class="user-table">
    <tr>
      <th>Username: </th>
      <td>{{ user?.username }}</td>
    </tr>
    <tr>
      <th>Full Name: </th>
      <td *ngIf="user.firstName || user.lastName">{{ user?.firstName }} {{ user?.lastName }}</td>
    </tr>
    <tr>
      <th>Organization: </th>
      <td>{{ organization.organization }}</td>
    </tr>
  </table>

</div>

<app-disclosure-dashboard></app-disclosure-dashboard>