<h2 mat-dialog-title>{{modalTitle}}</h2>
<form class="superUser-form" (ngSubmit)="doSubmitSuperUser()" #superUserForm="ngForm">
  
  <mat-dialog-content>
    <mat-form-field class="name-width">
      <input required matInput
        placeholder="First Name"
        [(ngModel)]="user.firstName"
        name="fname">
    </mat-form-field>

    <mat-form-field class="name-width">
      <input required matInput
        [(ngModel)]="user.lastName"
        placeholder="Last Name"
        name="lname">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input required matInput
        placeholder="Username"
        [(ngModel)]="user.username"
        name="username">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input required matInput
        placeholder="Temporary Password"
        [(ngModel)]="user.password"
        type="password"
        name="tempPass">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input required matInput
        placeholder="Confirm Temporary Password"
        [(ngModel)]="user.confPassword"
        type="password"
        name="ConfirmTempPass">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="Select Group/Organization"  name="organization" [(ngModel)]="user.organization">
         <mat-option *ngFor="let org of orgList" [value]="org._id">
           {{org.organization}}
         </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary">
      Submit
    </button>

    <button mat-button mat-dialog-close>No</button>
    </mat-dialog-actions>
</form>

 