<mat-card id="disclosures-container" *ngIf="showDataTableGrid">
  <mat-toolbar>
    <button mat-button (click)="clickBack()"
      [disabled]="!showBackButton"
    >
      <mat-icon class="example-icon">navigate_before</mat-icon> Previous
    </button>

    <span class="spacer"></span>

    <span>{{seriesName}}</span>

    <span class="spacer"></span>

    <button mat-button (click) = "clickNext()"
      [disabled]="!showNextButton"
    >
      Next <mat-icon class="example-icon">navigate_next</mat-icon>
    </button>  
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" align="end">
        <button mat-icon-button type="button" name="button" (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>

      <h3>{{curItemInfo.title}}</h3>

      <mat-tab-group>
        <mat-tab label="Requirements"
          *ngIf="curItemInfo.reportingRequirements">

          <ul>
            <li *ngFor="let reportingRequirement of curItemInfo.reportingRequirements">
              <span>{{reportingRequirement.description}}</span>
              <ul>
                <li *ngFor="let subRequirement of reportingRequirement.subRequirements">
                  <span>{{ subRequirement.description }}</span>
                  <ul>
                    <li *ngFor="let subSubRequirement of subRequirement.subRequirements">
                      <span>{{ subSubRequirement.description }}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </mat-tab>
        <mat-tab label="Additional Req'ts"
          *ngIf="curItemInfo.additionalRequirements">
          <ul>
            <li *ngFor="let reportingRequirement of curItemInfo.additionalRequirements">
              <span>{{reportingRequirement.description}}</span>
              <ul>
                <li *ngFor="let subRequirement of reportingRequirement.subRequirements">
                  <span>{{ subRequirement.description }}</span>
                  <ul>
                    <li *ngFor="let subSubRequirement of subRequirement.subRequirements">
                      <span>{{ subSubRequirement.description }}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </mat-tab>
        <mat-tab label="Recommendations"
          *ngIf="curItemInfo.recommendations">
          <h4>Recommendations</h4>

          <ul>
            <li *ngFor = "let recommendation of curItemInfo.recommendations">
              <span>{{ recommendation.description }}</span>
              <ul>
                <li *ngFor = "let subRecommendation of recommendation.subRecommendations">
                  <span>{{ subRecommendation.description }}</span>
                  <ul>
                    <li *ngFor="let subSubRecommentation of subRecommendation.subRecommendations">
                      <span>{{ subSubRecommentation.description }}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </mat-tab>
        <mat-tab label="Guidance"
          *ngIf="curItemInfo.guidance">
          <div [innerHTML]="curItemInfo.guidance"></div>
        </mat-tab>
      </mat-tab-group>

    </mat-sidenav>

    <div class="disclosure-list">
      <form>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Number</th>
              <th>Title</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of disclosures">
              <td>
                  <mat-checkbox
                    [checked]="item.boolCheckbox"
                    (click)="onItemClick(item)"
                  name = "checklist"></mat-checkbox>
              </td>
              <td nowrap><strong>{{ item.disclosureNumber }}</strong></td>
              <td>{{ item.title }}</td>
              <td>
                  <button (click)="openSideNav(item, sidenav)"
                    mat-icon-button>
                      <mat-icon
                      matTooltip="Information"
                      matTooltipPosition="below">info</mat-icon>
                  </button>
                </td>
            </tr>
          </tbody>
        </table>
        <div class = "clearfix" style = "margin-top: 10px">
          <button class="floatRight"
            (click)="viewSelectedItem()"
            *ngIf="FormArray.length != 0"
            mat-raised-button>View Selected Items</button>
          <button class="floatRight"
            (click)="goToAddDisclosure()"
            *ngIf="showAddDisclosureButton"
            mat-raised-button>Add additional disclosure</button>
        </div>
      </form>
    </div>
  </mat-sidenav-container>

</mat-card>


<app-selected-materiality
  [selectedItem]="FormArray"
  [displaySelected]="showDisplaySelected"
  [selectedUserId]="selectedUserId"
  (backToHomeCommand)="onHomeCommand($event)"
  (itemToBeRemoved)="onItemtoBeRemoved($event)"

></app-selected-materiality>