#disclosures-container{
    padding: 0px;

    .spacer {
        flex: 1 1 auto;
    }

    mat-sidenav{
        padding: 16px;
        min-width: 350px;
        max-width: 350px;

        button{
            float: right
        }
   }
        

    .disclosure-list {
        padding: 10px;

        table {
            width: 100%;
            border: 0px;
            border-collapse: collapse;

            th {
                text-align: left;   
            }

            td {
                padding: 10px;
            }
        }
    }
   
        
}