<div class="data-table-container">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="organization">
      <mat-header-cell *matHeaderCellDef> Organization </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        {{ element.organization }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator 
    #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>

</div>



<div class="div-add-button" 
  matTooltip="Add Organization" 
  [matTooltipPosition]="position">
  <button (click)="openAddUpdateDialog(1)" mat-fab color="primary">
      <i class="material-icons">add</i>
  </button>
</div>