<mat-tab-group>
  <mat-tab label="General">General</mat-tab>
  <mat-tab label="Economic">
    <table class="tbl-disclosure">
      <thead>
        <tr>
          <th>Number</th>
          <th>Title</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eco of ecoDisclosure">
          <td>{{ eco.disclosureNumber }}</td>
          <td>{{ eco.title }}</td>
          <td>
              <!-- <mat-icon *ngIf="generalItem.status == null">cached</mat-icon> -->
              <!-- <div *ngIf="generalItem.status!= null"> -->
                {{ eco.status }}%
              <!-- </div> -->
          </td>
          <td><button mat-button matTooltip="go to data module"
              (click)="navigateToData(false)">
              <mat-icon>input</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </mat-tab>
  <mat-tab label="Environment">
    <table class="tbl-disclosure">
      <thead>
        <tr>
          <th>Number</th>
          <th>Title</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let env of envDisclosure">
          <td>{{ env.disclosureNumber }}</td>
          <td>{{ env.title }}</td>
          <td>
              <!-- <mat-icon *ngIf="generalItem.status == null">cached</mat-icon> -->
              <!-- <div *ngIf="generalItem.status!= null"> -->
                {{ env.status }}%
              <!-- </div> -->
          </td>
          <td><button mat-button matTooltip="go to data module"
              (click)="navigateToData(false)">
              <mat-icon>input</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </mat-tab>
  <mat-tab label="Social">
    <table class="tbl-disclosure">
      <thead>
        <tr>
          <th>Number</th>
          <th>Title</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let soc of socDisclosure">
          <td>{{ soc.disclosureNumber }}</td>
          <td>{{ soc.title }}</td>
          <td>
              <!-- <mat-icon *ngIf="generalItem.status == null">cached</mat-icon> -->
              <!-- <div *ngIf="generalItem.status!= null"> -->
                {{ soc.status }}%
              <!-- </div> -->
          </td>
          <td><button mat-button matTooltip="go to data module"
              (click)="navigateToData(false)">
              <mat-icon>input</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab label="Additional Disclosure">Additional Disclosure</mat-tab>
</mat-tab-group>