/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-teal);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme(
    $candy-app-primary,
    $candy-app-accent,
    $candy-app-warn
);

@include angular-material-theme($candy-app-theme);



html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;

    .material-icons.mat-light { color: #c0baba }

    .div-add-button {
        position: absolute;
        bottom: 35px;
        right: 25px;
    }

    .data-table-container {
        display: flex;
        flex-direction: column;
        min-width: 300px;

        .mat-table {
            max-height: 500px;
            overflow: auto;
        }
    }

    .uk-badge {
        display: inline-block;
        padding: 0 5px;
        background: #00a8e6;
        font-size: 10px;
        font-weight: 700;
        line-height: 14px;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        text-transform: none;
        border: 1px solid rgba(0,0,0,.06);
        border-radius: 2px;
        text-shadow: 0 1px 0 rgba(0,0,0,.1);
    
        &.uk-badge-success {
            background: #7cb342;
        }
    }

    .floatRight {
        float: right;
    }
      
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .super-user--container {
        padding: 20px;
    
        .user-table {
            padding: 20px;
    
            th:first-child {
                text-align: right;
                padding: 5px;
            }
        }    
    }

    .tbl-disclosure {
        padding: 20px;

        td {
            padding: 10px
        }
    }
}