.body-container {
    width: 100%;
    height: 100%;

    .sidenav-container {
        width: 200px;
        height: 100%;
        background: #333;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        color: #fff;
        
        .sidenav-links {
            color: #c0baba;
        }
    }

    .body-content {

        .header-container {
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
            background: #039BE5;
            color: #fff;
        }
    }
}