<mat-sidenav-container class="body-container">
  <mat-sidenav mode="side" opened="true" class="sidenav-container">
    <mat-list dense>
      <!-- <mat-list-item><a mat-button [routerLink]="profile" class="sidenav-links"> <i class="material-icons mat-light">face</i> Profile</a></mat-list-item> -->
      <mat-list-item *ngFor="let link of links">
        <a mat-button [routerLink]="link.link" class="sidenav-links">
          <i class="material-icons mat-light">{{link.iconName}}</i>
          {{link.name}}
        </a>
      </mat-list-item>
      <mat-list-item><button mat-button class="sidenav-links" (click)="logout()"><i class="material-icons mat-light">exit_to_app</i> Logout</button></mat-list-item>
    </mat-list>

    
  </mat-sidenav>
 
  <mat-sidenav-content class="body-content">
    <mat-toolbar class="header-container">
      <p>My App</p>
    </mat-toolbar>
    <router-outlet></router-outlet>       
  </mat-sidenav-content>                     
</mat-sidenav-container>